
body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

#title {
    width: calc(90% - 20px);
    margin-left: auto;
    margin-right: auto;
}

.masonryContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.masonryColumn {
    float: left;
}

.masonryItem {
    padding: 10px;
}
