
body, html {
    margin: 0;
    padding: 0;
}

.masonryContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
}

.masonryColumn {
    float: left;
}

.masonryItem {
    background-color: #FF7333;
}