*, *::before, *::after, ul, li, body, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}  

body {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}

main {
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 80%;
}



.masonry-child {
    background-color: hotpink;
}
