*, *::before, *::after, ul, li, body, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}  

body {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}

main {
    background-color: grey;
    margin: 50px;
    width: 900px;
}


.masonry-child {
    background-color: hotpink;
    padding: 20px;
}

@media only screen and (max-width: 1400px) {
    main {
        width: 100%;
    }
}

